In [8]:
import pandas as pd

In [10]:
file_path = "C:/Users/egory/Downloads/views_statistics.csv"
df = pd.read_csv(file_path)

In [12]:
df.head()

                      time  user_id              ip  video_id platform
0  2025-02-20 00:00:00.000     1964  115.140.58.148     18318  android
1  2025-02-20 00:00:00.750     1573   160.179.46.24     13693  android
2  2025-02-20 00:00:02.750     2223  228.214.166.91     84713  android
3  2025-02-20 00:00:05.750     1126   184.57.115.70     35616   iphone
4  2025-02-20 00:00:07.750       26    172.10.12.34     34873  android

In [14]:
df["time"] = pd.to_datetime(df["time"])

In [16]:
df["time_diff"] = df.groupby("user_id")["time"].diff().dt.total_seconds()

In [18]:
fast_views = df[df["time_diff"] < 3]

In [22]:
ip_counts = df.groupby("ip")["user_id"].nunique()
suspicious_ips = ip_counts[ip_counts > 5].index

In [24]:
platform_counts = df["platform"].value_counts()

In [28]:
df["hour"] = df["time"].dt.hour
night_activity = df[(df["hour"] < 5) & (df["hour"] > 1)]

In [30]:
df_cleaned = df[~df.index.isin(fast_views.index) & ~df["ip"].isin(suspicious_ips)]

In [32]:
df_cleaned = df_cleaned.drop(columns=["time_diff", "hour"])

In [34]:
cleaned_file_path = "C:/Users/egory/Downloads/views_statistics_cleaned.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)

In [36]:
fast_views_count = len(fast_views)
suspicious_ips_count = len(suspicious_ips)
night_activity_count = len(night_activity)

In [38]:
fast_views_count, suspicious_ips_count, night_activity_count, cleaned_file_path

(2941, 1, 2773, 'C:/Users/egory/Downloads/views_statistics_cleaned.csv')

In [40]:
'''Мы обнаружили случаи, когда пользователи просматривали видео с интервалом менее 3 секунд между последовательными просмотрами. Всего таких случаев оказалось 2941, и они были исключены из данных. Были найдены IP-адреса, с которых видео просматривалось более чем 5 разными пользователями. Это может свидетельствовать о накрутке просмотров. В итоге был выявлен 1 такой IP, и все связанные с ним просмотры удалены. Мы также зафиксировали высокую активность в ночные часы (с 01:00 до 05:00). Такие просмотры считаются подозрительными, так как в это время активность пользователей обычно минимальна. В итоге было выявлено 2773 просмотра, которые также были исключены.'''

'Мы обнаружили случаи, когда пользователи просматривали видео с интервалом менее 3 секунд между последовательными просмотрами. Всего таких случаев оказалось 2941, и они были исключены из данных. Были найдены IP-адреса, с которых видео просматривалось более чем 5 разными пользователями. Это может свидетельствовать о накрутке просмотров. В итоге был выявлен 1 такой IP, и все связанные с ним просмотры удалены. Мы также зафиксировали высокую активность в ночные часы (с 01:00 до 05:00). Такие просмотры считаются подозрительными, так как в это время активность пользователей обычно минимальна. В итоге было выявлено 2773 просмотра, которые также были исключены.'